#content {
position:absolute;
top:45px;
left:210px;
width:1500px;
}/*div where the tabs sit*/

h1{
text-align: center
}

h2{
text-align: left;
background-color: #ffd700;
}

p{
text-align: center
}
			
th{
text-align: center;
background-color: #e6e6fa;
}

#result{
border: 1px solid black;
border-collapse: collapse;
padding: 10px;
}

#count_results{
border: solid black;
border-collapse: collapse;
margin: auto;
}

#student{
padding: 5px;
border: 1px solid;
}

#options{
position:absolute;
top:0px;
left:193px;
background-color:#014421;
width:1500px;
}

#logo{
position:absolute;
top:0px;
left:0px;
background-color:#014421;
height:1000px;
}

ul {
	list-style: none;
	padding:0;
	margin:0;
}

li {
	border-width: 1px 1px 0 1px;
	margin: 0 0.5em 0 0;
}