h1{
text-align: center
}

h2{
text-align: left;
background-color: #ffd700;
}

#tabs{
	padding:0;
	margin:0;
}

#tab1, #tab2, #tab3, #tab4{
	list-style: none;
	display: inline;/*makes the list horizontal*/
	border: solid;
	border-width: 1px 1px 0 1px;
	margin: 0 0.5em 0 0;
	padding: 0 1em;
}

#content {
	border: 1px solid;
}/*div where the tabs sit*/

p{
text-align: left
}
			
th{
text-align: center;
background-color: #dc403c;
}

li a {
	padding: 0 1em;
}/*anchor elements inside a list*/