#tabs{
	padding:0;
	margin:0;
}

#tab1, #tab2, #tab3{
	list-style: none;
	display: inline;/*makes the list horizontal*/
	border: solid;
	border-width: 1px 1px 0 1px;
	margin: 0 0.5em 0 0;
	padding: 0 1em;
}

#content {
	border: 1px solid;
}/*div where the tabs sit*/

th{
	text-align: left;
}

h1{
	text-align: center;
}
