#loginDiv{
background-color:#2A7D4F;
text-align:center;
width:20%;
margin:5%;
margin-left:auto;
margin-right:auto;
padding:25px;
}

#centerArea{
background-color:white;
margin-left:auto;
margin-right:auto;
width:125%;
height:200%;
}

#content {
background-color:#2A7D4F;
margin-top:4%;
margin-left:21%;
margin-right:auto;
width:75%;
padding: 20px;
border:1px solid black;
}

h1{
text-align: center
}

h2{
text-align: left;
background-color: #ffd700;
}

#searchDiv{
margin-left:20%;
}


h3{
color:#014421
}

p{
text-align: left
}
			
th{
text-align: center;
background-color: #e6e6fa;
color:#014421
}

td{
color:#7b1113;
}

#result{
border: 1px solid black;
border-collapse: collapse;
padding: 10px;
}

#count_results{
border: solid black;
border-collapse: collapse;
margin: auto;
}

#student{
padding: 5px;
border: 1px solid;
}

#options{
background-color:#014421;
width:100%;
height: 50px;
}

#logo{
float: left;
height: 100%;
top:0px;
left:0px;
background-color:#014421;
}

ul {
padding:0;
margin:0;
color: red;
}

input.text {
	border:hidden; background-color:#014421; color:#ffffff
	}
input.radio{
	color:#ffffff;
	
	}
select{
	align:center;  border:hidden;background-color:#014421; color:#ffffff
	}	
td.graph{
	color:#7b1113
	}
input.button{	
	background-color:#014421;
	text-align:center; 
	color:#f3aa2c; 
	border:0; 			
	font-weight:800; font:'Arial'
	}
input.label{
	color:#7b1113;
	}
.count_results_div{
background-color:#014421;
margin-right:auto;
margin-left:auto;
width: 70%
}

.count_results_table{
border: solid black;
border-collapse: collapse;
margin: auto;
}

#logoutLink{
float:right;
}

p.successNotifier{
color: red;
text-align: left;
}

.fieldError{
color: red;
text-align: left;
}